.footer_primary {
    .dropdown-menu {
        @media only screen and (max-width: 991px) {
            display: none;
            margin: 10px 0px;

            &.active {
                display: block;
                background-color: #F2F4FE;
                padding: 10px 15px;
                border-radius: 3px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
            }
        }
    }

}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 4rem;

    @media only screen and (max-width: 1199px) {
        padding-bottom: 4rem;
    }

    @media only screen and (max-width: 991px) {
        flex-wrap: wrap;
    }

    @media only screen and (max-width: 767px) {
        padding-bottom: 3rem;
    }

}

.footer_linksWrapper {
    flex: 1;

    @media only screen and (max-width: 767px) {
        flex: inherit;
        max-width: 100%;
        width: 100%;
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 575px) {
        max-width: 100%;
    }
}

.footer_link {
    opacity: 0.8;
    font-size: $nav-font-size;
    color: $base-font-color;
    letter-spacing: -0.2px;
    margin: 12px 0;

    &:hover {
        opacity: 1;
        color: $brand-blue;
    }

    @media only screen and (max-width: 991px) {
        letter-spacing: 0px;
        margin: 10px 0;
    }

    @media only screen and (max-width: 767px) {
        margin: 8px 0;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_linksheading {
    display: flex;
    align-items: center;
    font-size: $nav-font-size;
    font-weight: $medium-font;
    color: $heading-color;
    letter-spacing: $no-letter-spacing;
    min-height: 33px;
    margin-bottom: 20px;
    position: relative;

    @media only screen and (max-width: 991px) {
        font-size: 13px;
        margin-bottom: 0px;
        letter-spacing: 0.02em;
        cursor: pointer;
    }

    @media only screen and (max-width: 767px) {

        &:after {
            position: absolute;
            top: 50%;
            // background-image: url(../images/svg/Arrow/downarrowblack.svg);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 8px;
            content: '';
            width: 14px;
            height: 10px;
            background-repeat: no-repeat;
            background-size: 100%;
            transition: all 0.25s;
        }
    }
    &:hover {
        color: $blue;
        &:after {
            // background-image: url(../images/svg/Arrow/downarrowblue.svg);
        }
    }
}

.socialicon_wrapper {
    display: flex;

    @media only screen and (max-width: 991px) {
        margin-top: 15px;
        position: absolute;
        bottom: 10px;
    }
}


.socialIcon {
    margin-right: 8px;
    padding-top: 15px;

    @media only screen and (max-width: 991px) {
        margin-right: 5px;
        padding-top: 5px;
    }

    circle {
        -webkit-transition: all 0.25s ease-in-out 0s;
        transition: all 0.25s ease-in-out 0s;
    }

    &:hover {
        svg {
            circle {
                opacity: 1;
                fill: $brand-blue;
            }
        }
    }

}

.label_caption {
    background: radial-gradient(circle at top left, #18acbd 0%, #00d09c 100%);
    font-size: 10px;
    color: $white;
    letter-spacing: $no-letter-spacing;
    text-align: center;
    line-height: 8px;
    padding: 2px 10px;
    border-radius: 3px;
    margin-left: 16px;
}

.footer_secondaryLinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    @media only screen and (max-width: 575px) {
        padding-top: 1rem;
        align-items: center;
        justify-content: space-between;
    }

    li {

        margin: 0 1rem;

        @media only screen and (max-width: 575px) {
            font-size: 10px;
            margin: 0;
            white-space: nowrap;
        }

        &:first-child {
            margin-right: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}