//form_wrapper
form {
    margin-top: 3rem;
    padding: 0 20px;

    @include bp-sm {
        padding: 0;
    }
}

.form_title {
    text-align: center;
}

.form_wrapper {
    min-width: 512px;
    max-width: 512px;
    background: #FFFFFF;
    border: 2px solid $blue;
    box-shadow: 0 21px 40px 0 rgba(6, 14, 61, 0.13);
    padding: 2rem;
    border-radius: $border-radius-base;

    @include bp-sm {
        min-width: 100%;
        padding: 16px;
    }

}

.form_inputField {
    font-size: 1rem;
    border: 1px solid #9b9b9b;
    padding: 11px 16px;
    border-radius: $common-border-radius;
    -webkit-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}


.form_inputField:focus {
    border-color: $blue;
    outline: none;
}

.form_field {
    display: grid;
    margin-bottom: 2rem;

    @include bp-sm {
        margin-bottom: 16px;
    }
}

.form_control::-webkit-input-placeholder {
    opacity: 0.45;
    font-size: $normal-font-size;
    color: $base-font-color;
    letter-spacing: $no-letter-spacing;
    font-family: 'Sailec';

}

.form_control::-moz-placeholder {
    opacity: 0.45;
    font-size: $normal-font-size;
    color: $base-font-color;
    letter-spacing: $no-letter-spacing;
    font-family: 'Sailec';

}

.form_control:-ms-input-placeholder {
    opacity: 0.45;
    font-size: $normal-font-size;
    color: $base-font-color;
    letter-spacing: $no-letter-spacing;
    font-family: 'Sailec';

}

.form_control:-moz-placeholder {
    opacity: 0.45;
    font-size: $normal-font-size;
    color: $base-font-color;
    letter-spacing: $no-letter-spacing;
    font-family: 'Sailec';

}

.btn_groupWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
