.list_unstyled li {
  background-image: url(./images/svg/tick.svg);
}

.enterprise_blockWrapper li {
  background-image: url(./images/svg/whitetick.svg);
}
.webinar_resourceBlock{
  background:url(./images/FeaturedWebinar-bg.png);
  background-position: right ;
  background-repeat: no-repeat;
}
.testimonialWrapper {
  background-image: url(./images/svg/testimonial-icon.svg);
}

@media only screen and (max-width: 991px) {
  
  .nav-link:after {
    background-image: url(./images/svg/Arrow/downarrowblack.svg);
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    content: '';
    width: 14px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.25s;
  }    
  .nav-link.expanded:after {
    background-image: url(./images/svg/Arrow/downarrowblue.svg);
    transform: rotate(180deg);
  }

}
