// Toggles
//
// Used in conjunction with global variables to enable certain theme features.

@mixin box-shadow($shadow...) {
  @if $enable-shadows {
    box-shadow: $shadow;
  }
}

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

// Utilities
@import "./mixins/breakpoints.scss";
@import "./mixins/hover.scss";


@import "./mixins/screen-reader.scss";
@import "./mixins/reset-text.scss";
@import "./mixins/text-emphasis.scss";
@import "./mixins/text-hide.scss";
@import "./mixins/text-truncate.scss";
@import "./mixins/transforms.scss";
@import "./mixins/visibility.scss"; 

// // Components
@import "./mixins/buttons.scss";
@import "./mixins/cards.scss";


// // Skins
@import "./mixins/background-variant.scss";
@import "./mixins/border-radius.scss";

// // Layout
@import "./mixins/clearfix.scss";
@import "./mixins/grid-framework.scss";
@import "./mixins/grid.scss";
@import "./mixins/float.scss";
